



:root {
    /* Colors: */
--color-1: #EFEFEF;
--color-2: #FFFFFF;
--color-3: #06232C;
--color-4: #EDEEF2;
--color-5: #3B4C69;
--color-6: #000000;
--color-7: #0000001C;
--color-8: #093A51;
--color-9: #0A6CBF;
--color-10: #1385F7;
--color-11: #CECECE;
--color-12: #C9C9C9;
--color-13: #E4EDF2;
--color-14: #0000000C;
--color-15: #5B6B82;
--color-16: #112340;
--color-17: #2ACB40;
--color-18: #2AC940;
--color-19: #5DAFFF;
--color-20: #00000000;
--color-21: #BDBDBD;
--color-22: #DFE0E6;
--color-23: #172B4D;
--color-24: #1F6CBF;
--color-25: #0152CB;
--color-26: #004EC1;
--color-27: #EA9C24;


/* Font/text values */
--font-family: Proxima Nova;
--font-style: normal;
--font-weight: 600px;
--font-size: 14px;
--character-spacing: 0px;
--line-spacing: 17px;
--spacing: 0.1rem;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--color-2);
  color: var(--color-3);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
  text-align: center;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
  margin-left: 15px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 2px black; */
}

.container {
margin-top: 50px;
/* border: solid 2px black; */
font-size: 13px;
}

.container h2 {
    font-size: 20px;
    font-style: var(--font-style);
    text-align: center;
}

.input {
    display: flex;
    justify-content: center;
    height: 35px;
    margin-left: 30px;
}

.input-text {
    border-radius: 4px;
    border: 1px solid #CECECE;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    width: 200px;
    padding-left: 15px;
}

::placeholder {
    color: #C9C9C9;
}

img {
    font-size: 16px;
    padding: 8px 5px;
    margin-left: 5px;
}

h3 {
    text-align: center;
    margin-top: 10px;
    margin-left: -5px;
    font-size: 12px;
    font-weight: bold;
}

.btn-group {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

.btn-group button {
  background-color: #E4EDF2; /* Green background */
  border: 1px solid #E4EDF2; /* Green border */
  color:black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  width: 190px;
  height: 57px;
  font-size: 16px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-month {
background-color: #0A6CBF !important;
color: white !important;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #0A6CBF;
  color: white;
}

/* .free-trail {
    text-align: center;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */


.free-basics {
    margin-top: -55px;
} 

 table {
        width: 1360px;
        border-collapse: collapse;
        margin: 50px auto 0 auto;
        border: 1px solid #DFE0E6;
        
}

.table {
    overflow-x:auto;
    width: 100%;
}
.standard {
    position: relative;
}

/* .table {
    border: 1px solid black;
} */

tbody {
    width: 258px;
}
td {
    font-size: 14px;
}

 th, td {
        padding: 10px;
        text-align: left;
        border-left: 1px solid #DFE0E6;
 }

 td .features{
      height: 30px !important;
 }

 .features {
     border: 1px solid #DFE0E6;
     background-color: #E4EDF2;
     height: 47px !important;
 }
 .center-features {
    margin-right: 40px;
    font-size: 24px !important;
    font-weight: bold;
 }

 .devices {
     text-align: center;
     font-weight: 600;
     font-size: 14px;
 }

 .check {
     color: #0152CB;
 }

.billed {
    color: #0152CB;
}
 th > h2 {
     text-align: center;
 }

 .btn-hd {
     padding: 5px;
     border: 1px solid #0A6CBF;
     color: #0A6CBF;
     border-radius: 4px;
     background-color: #FFFFFF;
     width: 120px;
     height: 35px;
     margin-left: 50px;
     cursor: pointer;
 }

 .btn-hd:hover {
  background-color: #0A6CBF;
  color: white;
 }

 .free-trail {
     display: flex;
     justify-content: center;
     flex-direction: column;
 }

 .free-Para {
    font-size: 12px;
    font-weight: normal;
    margin-top: 16px;
}

.para2 {
    white-space: pre;
}

.Basics {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.basics-note {
    margin-top: 50px;
}

.btn-bs {
    padding: 5px;
    border: 1px solid #0A6CBF;
    color: #0A6CBF;
    border-radius: 4px;
    margin: 0 50px;
    background-color: #FFFFFF;
    width: 120px;
    height: 35px;
    cursor:pointer;
}

.btn-bs:hover {
  background-color: #0A6CBF;
  color: white;
 }
.enterprise {
    margin-top: 8px;
}
.basics-expense {
    margin-top: 34px;
}


.btn-ft {
    background-color: #FFFFFF;
     padding: 5px;
     border: 1px solid #0A6CBF;
     color: #0A6CBF;
     border-radius: 4px;
     margin: 40px 600px ;
     width: 160px;
    height: 35px;
     cursor: pointer;
 }

.btn-ft:hover {
  background-color: #0A6CBF;
  color: white;
 }

 .buttom {
     margin-bottom: 20px;
 }

 .recommend {
    position: absolute;
    top: 290px;
    left: 51%;
    max-width: 110px;
    height: 24px;
 }

 .btn-recom {
     background-color: #EA9C24;
     padding: 5px;
     border: 1px solid #EA9C24;
     color: #FFFFFF;
     border-radius: 4px;
     /* margin: 40px 600px ; */
     width: 120px;
     height: 28px;
     cursor: pointer;
 }
 .is-hidden {
  display: none;
  visibility: hidden;
}


 